sudo: true
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
# Waiting for "official" support
# https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-405506964
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
before_install:
  - pip install -U pip
install:
  - pip install .[test,pyuwsgi,gunicorn,waitress]
script:
  # Ensure we are testing installed app, not local code
  - mkdir -p /tmp/sandbox && cd /tmp/sandbox
  - pytest --pyargs django_webserver.tests.tests
